.image-principal img{
    max-width: 100%;
    height: auto;
    
   
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8fbfd;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
}
.produtos{
    width: 940px;
    margin: 0 auto ;
    padding: 50px 0 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    background: #cccccc;
    margin: 0 1.5%;
    padding: 30px 20px ;
    box-sizing: border-box ;
    border-color: #000000;
    border-width: 0px;
    border-style: solid;
    

    
}
.produtos li img {
    height: 150px;
    width: 150px;
    
}
.produtos h2{
 font-size: 30px;   
 font-weight: bold;
}
@media (max-width: 1000px) {
    .produtos li{
        width: 100%;
    }

}
.btn1{
    background-color: #cca575;
    border: 3px #cccccc solid;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;

}
.rodape{
    background: #575555;

}
.rodape h2{
    color: #cccccc;
}
.rodape  p a {
    color: #cccccc;
}


